@import 'tailwindcss';

/* 🔥 Premium Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* thumb */
::-webkit-scrollbar-thumb {
	background: #555758;
	border-radius: 10px;
	transition: all 0.3s ease;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
	background: #6b6d70;
}

::-webkit-scrollbar-thumb:hover {
	background: #6b6d70;
	box-shadow: 0 0 6px rgba(85, 87, 88, 0.6);
}

html {
	scroll-behavior: smooth;
}